<%- include('partials/header') -%>

<main class="container">
    <div class="flex justify-center mt-10">
        <a href="/login" class="mx-5 btn btn-primary"> Login</a>
        <a href="/signup" class="mx-5 btn btn-primary"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>