<%- include('partials/header') -%>

<main>
    <div class="flex justify-center mt-10">
        <a href="/login" class="mx-5 btn btn-primary"> Login</a>
        <a href="/signup" class="mx-5 btn btn-primary"> Signup</a>
    </div>
</main>
<div class="flex justify-center mt-40">
    <h2 class="text-xl font-bold">Scroll down for information about this site's architecture.</h2>        
</div>
<section>
    <div class="flex justify-center mt-10">
        <h3 class="text-xl font-bold">You can run everything on this site FOR FREE!</h3>
    </div>
    <div class="flex justify-center mt-10">
        <h3 class="text-xl font-bold">This site uses technologies like these:</h3>
    </div>
</section>
<div class="flex justify-center mt-10">
    <img class="mx-0.5 bg-indigo-50" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/tailwindcss/tailwindcss-original-wordmark.svg" alt="tailwindcss" width="200" height="200" background-color="white">
    <img class="mx-0.5 bg-indigo-50" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg" alt="javascript" width="200" height="200">
    <img class="mx-0.5 bg-indigo-50" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-plain-wordmark.svg" alt="docker" width="200" height="200">
    <img class="mx-0.5 bg-indigo-50" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/oracle/oracle-original.svg" alt="oracle" width="200" height="200">
    <img class="mx-0.5 bg-indigo-50" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-plain-wordmark.svg" alt="mongodb" width="200" height="200">
</div>
<section>
    <div class="flex justify-center mt-5">
        <h3 class="text-xl font-bold">It is hosted on Oracle Cloud Instance,</h3>
    </div>
    <div class="flex justify-center mt-5">
        <h3 class="text-xl font-bold">the docker image is stored in Docker Hub,</h3> 
    </div>
    <div class="flex justify-center mt-5">
        <h3 class="text-xl font-bold">and the data is stored on MongoDB.</h3>
    </div>
    <div class="flex justify-center mt-5 mx-5">
        <img  src="https://github.com/muckitymuck/muckitymuck/raw/master/images/bounty%20host%20architecture.PNG" alt="system architecture">
    </div>
    <div class="flex justify-center mt-5">
        <h3 class="text-xl font-bold">The Docker container is deployed with Github Actions</h3>
    </div>
    <div class="flex justify-center mt-5 mx-5">
        <img  src="https://github.com/muckitymuck/muckitymuck/raw/master/images/githubDockerPullRun.PNG" alt="github actions">
    </div>
    <div class="flex justify-center mt-5">
        <h3 class="text-xl font-bold">All you need to do is commit code and it pulls down the new Docker image.</h3>
    </div>
    <div class="flex justify-center my-10">
        <h2 class="text-xl font-bold">Simple, Fast, and FREE.</h2>
    </div>

    
</section>

<%- include('partials/footer') -%>